@import url('https://fonts.googleapis.com/css?family=BenchNine');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC|Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

@font-face {
  font-family: "Nobis";
  font-style: normal;
  font-weight: 300;
  src: url("elvetica Nobis.otf");
}

@font-face {
  font-family: "Calibri";
  font-style: normal;
  font-weight: 300;
  src: url("Calibri.ttf");
}

@font-face {
  font-family: "ChumpChange";
  font-style: normal;
  font-weight: 300;
  src: url("ChumpChange-GD7O.ttf");
}

body {
		margin: 0;
		padding: 0;
		width: 100%;

		display: block;
		
		background-size: cover;
		text-align: center;

		
		background-size: cover;
		height: 0px;

		background: #8e9eab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


	}

* {
  -webkit-font-smoothing: antialiased !important;
  font-family: "Calibri";
  font-style: normal;
}

header {
		width: 100%;
		height: 90px;
		margin: 0 auto;
		padding: 0;
		background: rgba(0,0,0,0);
		position: relative;
		display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        text-align: left;
	}

.dotm-overlay {
		background: url(44ga9qid.png);
		width: 100%;
		height: 910px;
	}

.Home_Container {
		margin: 6px 0 0 -30px;
		padding: 0;
		width: 100%x;
		height: 100%;
		border: none;
		background: url(Home.png) no-repeat;
		background-size: 90%;
	}

.Nevigation_Container {
		width: 1080px;
		height: 100%;
		background: rgba(0,0,0,0);
		margin: 0 auto;
		z-index: 1000;
		position: absolute;
	}

.skewed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 160px;
  background-image: linear-gradient(268deg,#4361ee,#028090);
  z-index: 0;
  transform: skewY(2deg);
  transform-origin: top right;
}

.Nevigation_0, .Nevigation_1, .Nevigation_2, .Nevigation_3, .Nevigation_4, .Nevigation_5 {
		margin: 0;
		padding: 0;
		display: inline-block;
		height: 100%;
		width: 19%;
		background: rgba(0,0,0,0);
		float: left;
		z-index: 1000;
	}

.Nevigation_0 {
		width: 5%;
		border: none;
	}
.Nevigation_1 {
		background: #1EBF8D;
		border-left: 1px solid #ffffff;
		border-bottom: 1px solid #ffffff;
		z-index: 10000;
	}
.Nevigation_2 {
		background: #E85481;
		border-left: 1px solid #ffffff;
		border-bottom: 1px solid #ffffff;
	}
.Nevigation_3 {
		background: #58BFE1;
		border-left: 1px solid #ffffff;
		border-bottom: 1px solid #ffffff;
	}
.Nevigation_4 {
		background: #F7C558;
		border-left: 1px solid #ffffff;
		border-bottom: 1px solid #ffffff;
	}
.Nevigation_5 {
		background: #E06FC1;
		border-left: 1px solid #ffffff;
		border-bottom: 1px solid #ffffff;
		border-right: 1px solid #ffffff;
	}

.Carousel_Heading_Background {
		margin: 0 auto;
		padding: 32px 0 0 0;
		background-color: rgba(248, 248, 255, 0.15);
		height: 140px;
		position: absolute;
		top: 134px;
		width: 100%;
		text-align: center;
	}

#Carousel_Caption1 {
		width: 1065px;
		font-family: 'Audrey';	
		font-size: 490%;
		text-transform: uppercase;
		margin: 0 auto;
		/* margin-left: 22%; */
		padding: 0;
		color: #fff;
	}

#Container{
		width: 1043px;
		height: 480px;
		
		position: absolute;
		overflow: hidden;
		top: 50%;
		margin-left: 22.5%;
		margin-top: -110px;
		border-radius: 8px;
	}
#Container:before{
		width: 110%;
		height: 550px;
		content: "";
		position: absolute;
		top: -25px;
		left: -25px;
		bottom: 0;
		right: 0;
		background: inherit;
		box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2);
		filter: blur(10px);
	}


#Carousel_Caption2 {
		font-family: 'Genome';	
		font-size: 24px;
		line-height: 138%;
		letter-spacing: .5px;
		color: #fff;
		text-align: justify;
	}

.blur {
		
		background-size: cover;
		overflow: hidden;
		filter: blur(20px);
		position: absolute;
		height: 590px;
		top: -50px;
		left: -50px;
		right: -50px;
		bottom: -50px;
	}

.widget {
		border: 2px solid rgba(255, 255, 255, .2);
		height: 500px;
		width: 1100px;
		overflow: hidden;
		border-radius: 13px;
		text-align: center;
		margin: 0;
		padding: 0;
		align-items: center;
	}

.center {
		position: absolute;
		margin: auto;
		top: 318px;  /* Gap is 44px. So, 318 = (140+134+44) */		
		left: 0;
		right: 0;
		text-align: center;
		align-items: center;
	}

.blur1 {
		
		background-size: cover;
		overflow: hidden;
		filter: blur(20px);
		position: absolute;
		height: 550px;
		top: -50px;
		left: -10px;
		right: -50px;
		bottom: -50px;
	}

.widget1 {		
		border-top: 4px solid;
		border-image: linear-gradient(to right, rgba(196,222,138,1) 0%, rgba(196,222,138,1) 12.5%, rgba(245,253,212,1) 12.5%, rgba(245,253,212,1) 25%, rgba(255,208,132,1) 25%, rgba(255,208,132,1) 37.5%, rgba(242,122,107,1) 37.5%, rgba(242,122,107,1) 50%, rgba(223,157,185,1) 50%, rgba(223,157,185,1) 62.5%, rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%, rgba(95,156,217,1) 75%, rgba(95,156,217,1) 87.5%, rgba(94,190,227,1) 87.5%, rgba(94,190,227,1) 87.5%, rgba(94,190,227,1) 100%) 5;  

		height: 477px;
		width: 100%;
		overflow: hidden;
		border-radius: 1px;
		text-align: center;
		margin: 0;
		padding: 0;
		align-items: center;
	}

.center1 {
		position: absolute;
		margin: auto;
		top: 862px;
		left: 0;
		right: 0;
		text-align: center;
		align-items: center;
	}

.Benefit_Top {
		margin: 23px auto;		
		background: rgba(0,0,0,0);
		height: 52px;
		width: 100%;
		position: absolute;
	}
#About_Me {
		margin: 10 auto;	
		font-family: 'BebasNeue';	
		font-size: 340.5%;
		color: #fff;	
		letter-spacing: 5px;
		text-shadow: 0 2px 0 0px hsl(330, 100%, 25%),0 3px 2px 0px hsla(330, 100%, 15%, 0.5);
	}

#About_Me1 {
		background: #83B53C;
		font-size: 15px;
		font-family: Alegreya Sans SC;
		width: 70%;
		height: 25px;
		border-radius: 30px;
		margin: 0 auto;
		padding-top: 5px;
		color: #000;
		letter-spacing: 2px;
	}

.Benefit_R {
		margin: 110px auto;		
		background: rgba(0,0,0,0);
		width: 100%;
		position: absolute;
	}

.Benefit_Header_Container {
		margin: 155px auto;		
		background: rgba(0,0,0,0);
		height: 252px;
		width: 100%;
		position: absolute;
	}
.Benefit_Body_Container {
		margin: 236px auto;		
		background: rgba(0,0,0,0);
		height: 172px;
		width: 100%;
		position: absolute;
	}
.Market_Info_Container {
		margin: 10px auto;
		background: rgba(0,0,0,0);
		height: 95%;
		width: 100%;
		position: absolute;
	}

.Benefit_Header {
		background: rgba(0,0,0,0);
		margin: auto;
		height: 100%;
		width: 1000px;
	}

.Benefit_Header_1, .Benefit_Header_2, .Benefit_Header_3 {
		height: 100%;
		width: 33.33333%;
		display: inline-block;
		float: left;
	}
.Benefit_Header_1_1, .Benefit_Header_2_2, .Benefit_Header_3_3 {
		width: 100%;
		height: 100%;
		margin-left: 0%;
		background: rgba(221,40,91,0.2);
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		border-top: 1px solid rgba(255,255,255,0.3);
		border-left: 1px solid rgba(255,255,255,0.3);
	}
.Benefit_Header_3_3 {
		border-right: 1px solid rgba(255,255,255,0.3);
	}

.Benefit_Body {
		margin: auto;
		padding: 0;
		background: rgba(0,0,0,0);
		height: 172px;
		width: 1000px;
		z-index: 5000;
	}
.Benefit_Body_1, .Benefit_Body_2, .Benefit_Body_3 {
		height: 100%;
		width: 33.3333%;
		margin: 0 auto;
		padding: 0;
		background: #fff;
		display: inline-block;
		float: left;
	}
.Benefit_Body_1 {
		background: rgba(214,232,247,0.7);
	}
.Benefit_Body_2 {
		background: rgba(247,214,229,0.7);
		border-left: 1px solid rgba(255,255,255,0.3);
		border-right: 1px solid rgba(255,255,255,0.3);
	}
.Benefit_Body_3 {
		background: rgba(214,232,247,0.7);
	}

.Market_Info {
		margin: auto;
		padding: 0;
		background: rgba(0,0,0,0);
		height: 100%;
		width: 100%;
		max-width: 2100px;
		z-index: 5000;
	}
.Market_Info_1, .Market_Info_2, .Market_Info_3, .Market_Info_4, .Market_Info_5, .Market_Info_6 {
		height: 100%;
		width: 16.6667%;
		margin: 0 auto;		
		padding: 0;
		background: rgba(0,0,0,0.0);
		display: inline-block;
		float: left;
		border-right: 1px solid rgba(255,255,255,0.3);
	}
.Market_Info_6 {
		border-right: 1px solid rgba(255,255,255,0.0);
	}
#Market_Info_1_Plot, #Market_Info_2_Plot, #Market_Info_3_Plot, #Market_Info_4_Plot, #Market_Info_5_Plot, #Market_Info_6_Plot {		
		margin: 0 auto;
		padding: 0;
		padding-right: 2px;
		background: rgba(0,0,0,0.0);
	}
.Market_Info_Name {
		height: 50px;
		width: 89%;
		margin: 10px auto;
		margin-bottom: 0px;
		padding: 0;
		padding-top: 2px;
		background: rgba(45,174,217,0.2);
		border-radius: 1px;
		font-size: 28px;
		font-family: 'Alegreya Sans SC';
		text-transform: uppercase;
		align-items: right;
		color: #000;
		overflow: hidden;
		border: 1px solid #ffffff;
	}
.Market_Info_Price {
		font-family: 'Audrey';	
		background: rgba(0,0,0,0);
		font-size: 70px;
		margin: 0 auto;
		margin-top: 5px;
		padding: 0;
		color: #fff;
		text-shadow: 0 2px 0 0px hsl(330, 100%, 25%),0 3px 2px 0px hsla(330, 100%, 15%, 0.5);
	}
.Market_Info_Unit_Price {
		width: 100%;
		height: 20px;
		margin: 0;
		margin-top: -35px;
		padding: 0;
		padding-left: 150px;
		background: rgba(0,0,0,0);
		font-size: 20px;
		font-family: 'Alegreya Sans SC';
		letter-spacing: 2px;
		color: #cccccc;

	}
.Market_Info_Return_Container {
		width: 90%;
		height: 27px;
		margin: 0 auto;
		margin-top: 13px;
		padding: 0;
		background: rgba(0,0,0,0);
		border-radius: 20px;
		box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2);
	}
.Market_Info_Return_Ret, .Market_Info_Return_Vol {
		margin: 0;		
		padding: 0;
		padding-top: 3px;
		height: 100%;
		width: 50%;
		display: inline-block;
		float: left;
		font-family: 'Nobis' !important;
		font-size: 15px;
		color: #000;
	}
.Market_Info_Return_Ret {
		border-top-left-radius: 9px;
		border-bottom-left-radius: 9px;
	}
.Market_Info_Return_Vol {
		border-top-right-radius: 9px;
		border-bottom-right-radius: 9px;	}

#Last_Footer {
		width: 100%;
		margin: 420px 0 0 0;
		margin-left: auto;
		margin-right: auto;
		padding: 5;
		text-align: center;
		background: #050321; 
		min-height: 400px;
		height: auto;
		z-index: 4000;
		position: absolute;
		border-top: 4px solid;
		border-bottom: 4px solid;
		border-image: linear-gradient(to right, rgba(196,222,138,1) 0%, rgba(196,222,138,1) 12.5%, rgba(245,253,212,1) 12.5%, rgba(245,253,212,1) 25%, rgba(255,208,132,1) 25%, rgba(255,208,132,1) 37.5%, rgba(242,122,107,1) 37.5%, rgba(242,122,107,1) 50%, rgba(223,157,185,1) 50%, rgba(223,157,185,1) 62.5%, rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%, rgba(95,156,217,1) 75%, rgba(95,156,217,1) 87.5%, rgba(94,190,227,1) 87.5%, rgba(94,190,227,1) 87.5%, rgba(94,190,227,1) 100%) 5;  
	}

#Last_Footer_Div, #Last_Footer_Div_Disclaimer {
		margin: 0 auto;
		padding: 12px 0 0 0;
		color: #B8B8B8;
		letter-spacing: 1.8px;
		width: 60%;
		min-width: 1000px;
	}


#Last_Footer_Div_Disclaimer {
		width: 60%;
		font-size: calc(10px + (14 - 10) * ((100vw - 300px) / (1600 - 300))) !important;
		text-align: justify;
		text-justify: inter-word;
		color: #636363;
		font-family: 'Roboto Condensed';
		padding-bottom: 15px;
		letter-spacing: 1px;
	}
.Disclaimer {
		margin: 0;
		margin-bottom: 20px;
		padding: 3px;
		padding-left: 5px;
		padding-right: 5px;
		border-radius: 5px;
		background: rgba(255,255,255,0.2);
		font-size: 14px;
		color: #949494;
	}

.Collaboration_Detail_Image_1 {
		margin: 10px auto;
		width: 150px;
		height: 150px;
		border: 2px solid #fff;
		background: url(DSC_0383.jpg) no-repeat;
		border-radius: 201px;
		background-size: 105%;
		background-position: -7px -20px; 
	}

.container_CapMarket_2 {
		z-index: 10000;
		margin: 23px auto;
		padding: 0;			
		height: 45px;
		width: 100%;
		float: justify;
		font-family: 'Alegreya Sans SC';
		color: #000;
		font-size: 17px;
		letter-spacing: 1px;
		background: rgba(0,0,0,0);
	}

.Desc_Statement {
		z-index: 10000;
		height: 190px;
		width: 100%;
		text-align: left;
		letter-spacing: .4px;
		margin: 0 auto;
		padding: 15px;
		font-family: 'BenchNine', sans-serif;
		font-weight: 100;
		font-size: 23px;
		color: #2f2f2f;
	}

div.container1
{
    font-family: Alegreya Sans SC;
    font-size: 15px;
    margin: 10px auto;
	padding: 0;
	text-align: center;
	letter-spacing: .85px;
}

div.container1 a
{
    color: #050321;
    text-decoration: none;
    font: 20px Alegreya Sans SC;
    font-size: 120%;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.one, .two, .three, .four, .five {
		background-color: rgba(255, 255, 255, 0);
		margin: 0 auto;
		padding: 19px 0 0 0;
		height: 100%;
		width: 100%;
		transition-property: background;
		transition-duration: 1s;

		background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #f2f2f2 50%);
	    background-size: 200% 100%;
	    background-position: left;
	    transition: all 1s ease;
	}

.one:hover, .two:hover, .three:hover, .four:hover, .five:hover {
		background-position: right;
	}

.one1 {
		background-color: rgba(0,0,0,0);
		margin: -3px auto;
		padding: 5px 10% 0 0;
		height: 110%;
		width: 110%;
		transition-property: background;
		text-align: center;
		background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #f2f2f2 50%);
	    background-size: 200%;
	    background-position: left;
	    transition: all 1s ease;
	}

.one1:hover {
		background-position: right;
	}



.card {
  background: rgba(255,255,255,.9);
  border-radius: 2px;
  display: inline-block;
  height: 270px;
  margin: 1rem;
  width: 300px;
  padding: 0;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.sexy_line { 
    margin: 15px auto;
    height: 1px;
    background: black;
    z-index: 6000;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}

.container_CapMarket_Body {
		margin: 0 auto;
		padding: 0 17px 0 23px;
		width: 100%;
		height: 100%;
		color: #666666;
		font-family: 'Nobis';
		font-size: 18px;
		line-height: 27px;	
		text-align: left;
		letter-spacing: .5px;
		text-shadow: 1px 1px 2px #fff;		
	}
.First1, .First2, .First3 {
		margin: 0;
		padding: 0;
		height: 100%;
		width: 0px;
		background: #1993F5;
		display: inline-block;
		float: left;
	}
.First1 {
		background: #FB7231;
	}
.First3 {
		background: #3FAD45;
	}
.Second {
		margin: 0;
		padding: 0;
		height: 100%;
		width: 300px;
		background: rgba(0,0,0,0);
		display: inline-block;
		float: left;
	}

#Popup_Window_1, #Popup_Window_2, #Popup_Window_3, #Popup_Window_4, #Popup_Window_5, #Popup_Window_6 {
	position: fixed;
	height: 93vh;
	top: 3%;
	left: 25px;
	right: 25px;
	padding: 0;
	background-color: #fff;
	z-index: 110000;
	display: none;
	border-top: 1vh solid;
		border-image: linear-gradient(to right, rgba(196,222,138,1) 0%, rgba(196,222,138,1) 12.5%, rgba(245,253,212,1) 12.5%, rgba(245,253,212,1) 25%, rgba(255,208,132,1) 25%, rgba(255,208,132,1) 37.5%, rgba(242,122,107,1) 37.5%, rgba(242,122,107,1) 50%, rgba(223,157,185,1) 50%, rgba(223,157,185,1) 62.5%, rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%, rgba(95,156,217,1) 75%, rgba(95,156,217,1) 87.5%, rgba(94,190,227,1) 87.5%, rgba(94,190,227,1) 87.5%, rgba(94,190,227,1) 100%) 5;  
	border-bottom: 1vh solid;
		border-image: linear-gradient(to right, rgba(196,222,138,1) 0%, rgba(196,222,138,1) 12.5%, rgba(245,253,212,1) 12.5%, rgba(245,253,212,1) 25%, rgba(255,208,132,1) 25%, rgba(255,208,132,1) 37.5%, rgba(242,122,107,1) 37.5%, rgba(242,122,107,1) 50%, rgba(223,157,185,1) 50%, rgba(223,157,185,1) 62.5%, rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%, rgba(95,156,217,1) 75%, rgba(95,156,217,1) 87.5%, rgba(94,190,227,1) 87.5%, rgba(94,190,227,1) 87.5%, rgba(94,190,227,1) 100%) 5;  
}
#Popup_Window_1_1 {
	padding: 0;
	margin: 0;
	height: 5vh;
	border-left: 15px solid #b2b2b2;
	position: fixed;	
	left: 25px;
	right: 25px;
	z-index: 110030;
	background-color: #b2b2b2;
}
#Popup_Window_5_5_USDBKT {
	padding: 0;
	margin: 0;
	height: 40px;
	width: 510px;
	border: 0px solid #b2b2b2;
	border-radius: 20px;
	position: fixed;	
	left: 50px;
	top: 30px;
	z-index: 120050;
	background-color: rgba(239,80,209,.4);
	box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
            0 5px 15px 0 rgba(0,0,0,0.08);
    font-family: Nobis !important;
    font-size: 20px;
	font-weight: 400;
	letter-spacing: 1px;
	color: #666666;
	-webkit-font-smoothing: antialiased;
}
#Popup_Window_5_5_USDBKT_1 {
	position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}

#Popup_Window_1_1_1, #Popup_Window_2_2_2, #Popup_Window_3_3_3, #Popup_Window_4_4_4, #Popup_Window_5_5_5, #Popup_Window_6_6_6 {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: #fff;
	border-left: 15px solid #b2b2b2;
	padding: 0;
	font-family: Genome !important;
                  
  background-color: #e7e7e7;
  color: #777;
  padding: 0px 0 4px 0;
  font-weight: 300;
}
#Popup_Window_1_2_Container, #Popup_Window_1_3_Container {
	position: fixed;
	left: 65px;
	right: 25px;
	padding: 0;
	margin: 0;
	border-left: 15px solid #b2b2b2;
	background-color: rgba(0,0,0,0);
	height: 91vh;	
	padding-left: 18px;
	padding-right: 18px;
}
#Popup_Window_1_2, #Popup_Window_1_3, #Popup_Window_2_2, #Popup_Window_2_3, #Popup_Window_2_4, #Popup_Window_3_2, #Popup_Window_3_3, #Popup_Window_4_2, #Popup_Window_4_3, #Popup_Window_4_4, #Popup_Window_5_2, #Popup_Window_5_3, #Popup_Window_5_4, #Popup_Window_5_5, #Popup_Window_6_2, #Popup_Window_6_3, #Popup_Window_6_4 {
	height: 77vh;
	width: 100%;
	font-family: Genome !important;
	font-weight: 400;
	letter-spacing: 1px;
	color: #000;
	padding-top: 0vh;
	padding-bottom: 1vh;
	padding-left: 18px;
	padding-right: 18px;
	background-color: rgba(0,0,0,0);
}
.amcharts-chart-div a {display:none !important;}

#Popup_Window_1_Close, #Popup_Window_2_Close, #Popup_Window_3_Close, #Popup_Window_4_Close, #Popup_Window_5_Close, #Popup_Window_6_Close {
	margin: 0;
	padding: 0;
	position: fixed;
	float: right;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	z-index: 110050;
	background-color: rgba(0,0,0,0);
	right: 34px;
	top: 4.6vh;
  cursor: pointer;
  transition: 0.70s;
  font-size: 18px;
  color: #4c4c4c;
  vertical-align: middle;
  text-align: center;
  padding-top: 2px;
}
#Popup_Window_1_Close:hover, #Popup_Window_2_Close:hover, #Popup_Window_3_Close:hover, #Popup_Window_4_Close:hover, #Popup_Window_5_Close:hover, #Popup_Window_6_Close:hover {
		background-color: #afdef1;
	}

.amcharts-period-selector-div {
  background-color: #fff;
  
  margin: 0;
  padding: 0;
  border-radius: 0px;
  border: 0px solid #d4d4d4;
  color: #666666 !important;
  font-size: 16px;
  font-weight: 500 !important;
  font-family: 'Calibri', 'Nobis', sans-serif;
}

.amcharts-period-input, .amcharts-period-input-selected, .amcharts-start-date-input, .amcharts-end-date-input {
  padding: 0px !important;
  margin: 0px !important;
  height: 6vh;
  width: 130px;
  background-color: #fff;
  font-size: 18px;
  color: #000 !important;
  font-family: 'Calibri', 'Nobis', sans-serif;
  border-radius: 0% !important;
  border: 0px solid #fff;
  font-weight: 300 !important;
}

.amcharts-period-input-selected {
  background: #e5e5e5 !important;
}

.amcharts-start-date-input, .amcharts-end-date-input {
		border: 0px solid #fff;
		font-size: 15px;
	}


/* Style tab links */


/* Style tab links */
.tablink, .tablink1, .tablink2 {
    color: #000;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    text-align: center;
    font-size: 17px;
    width: 50%;
    height: 100%
}

.tablink:hover {
    background-color: #cccccc;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent1, .tabcontent2, .tabcontent {
    color: #000;
    padding: 0;
    margin: 0;
}

#Home {background-color: red;}
#News {background-color: #fff;}
.tab-wrap {
  transition: 0.3s box-shadow ease;
  border-radius: 6px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
  background-color: #fff;
  margin: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  height: 100%;
}
.tab-wrap:hover {
  box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
}

.tab {
  display: none;
}
.tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(5) ~ .tab__content:nth-of-type(5) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.tab:first-of-type:not(:last-of-type) + label {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.tab:not(:first-of-type):not(:last-of-type) + label {
  border-radius: 0;
}
.tab:last-of-type:not(:first-of-type) + label {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.tab:checked + label {
  background-color: #fff;
  box-shadow: 0 -1px 0 #fff inset;
  cursor: default;
}
.tab:checked + label:hover {
  box-shadow: 0 -1px 0 #fff inset;
  background-color: #fff;
}
.tab + label {
  box-shadow: 0 -1px 0 #eee inset;
  border-radius: 6px 6px 0 0;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: #333;
  flex-grow: 3;
  text-align: center;
  background-color: #f2f2f2;
  user-select: none;
  text-align: center;
  transition: 0.3s background-color ease, 0.3s box-shadow ease;
  height: 50px;
  box-sizing: border-box;
  padding: 10px 15px;
  font-size: 18px;
  color: #333333;
  letter-spacing: 1px;
}
.tab + label:hover {
  background-color: #f9f9f9;
  box-shadow: 0 1px 0 #f4f4f4 inset;
}
.tab__content {
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 0;
  left: 0;
  transform: translateY(-3px);
  border-radius: 6px;
  height: 100%
}


.box {
	width:100%;
	height:100%;
	background:#FFF;
	margin:40px auto;
	margin: 0;
	padding: 0;
}
/*==================================================
 * Effect 1
 * ===============================================*/
.effect1{
	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
}
/*==================================================
 * Effect 2
 * ===============================================*/
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.BaloonText_Chart_1_1, .BaloonText_Chart_Oil_1_1 {
	height: 45px;
	width: 196px;
	margin: 0;
	padding: 0;
	border: 0px solid hsl(0, 0%, 40%);
	border-radius: 12px;
	font-family: 'Calibri', 'Nobis', sans-serif;
	font-weight: 100;
	color: #4c4c4c;
	box-shadow: 0 10px 6px -6px #777;
}
.BaloonText_Chart_Oil_1_1 {
		height: 180px;
		background-color: rgba(0,0,0,0.0);
		border-radius: 3px;
		overflow: hidden;
		border: 1px solid #898989;
	}

.BaloonText_Chart_1_1_Left {
	display: inline-block;
	float: left;
	width: 54%;
	height: 99%;
	margin: 0;
	padding: 0;
	background-color: rgba(244,159,149,.5);
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	padding-top: 10px;
	border: 1px solid #7f7f7f;
	border-right: 0px solid #333333;
	 position: relative;
	  top: 50%;
	  -webkit-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%);	
	font-size: 15px;
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
}
.BaloonText_Chart_1_1_Oil_Left {
	display: inline-block;
	float: left;
	width: 49%;
	height: 25%;
	margin: 0;
	padding: 0;
	background-color: rgba(229,229,229,.4);
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	padding-top: 10px;
	border: 0px solid #7f7f7f;
	border-bottom: .6px solid #898989;
	 position: relative;
	  top: 12.5%;
	  -webkit-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%);	
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 345;
	-webkit-font-smoothing: antialiased;
}
.BaloonText_Chart_1_1_Right {
	display: inline-block;
	float: left;
	width: 46%;
	height: 99%;
	margin: 0;
	padding: 0;
	background-color: rgba(217,217,217,.5);
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	order-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	padding-top: 12px;
	border: 1px solid #7f7f7f;
	border-left: 0px solid #333333;
	font-family: "Audrey";
	color: #4c4c4c;
	font-size: 16px;
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
	z-index: 20000;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.BaloonText_Chart_1_1_Oil_Right {
	display: inline-block;
	float: left;
	width: 41%;
	height: 25%;
	margin: 0;
	padding: 0;
	background-color: rgba(217,217,217,.65);
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	order-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	padding-top: 12px;
	border: 0px solid #7f7f7f;
	border-bottom: .6px solid #898989;
	font-family: "Audrey";
	color: #4c4c4c;
	font-size: 16px;
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
	z-index: 20000;
  position: relative;
  top: 12.5%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.BaloonText_Chart_1_1_Oil_Left1 {
	display: inline-block;
	float: left;
	width: 10%;
	height: 25%;
	margin: 0;
	padding: 0;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	padding-top: 10px;
	border: 0px solid #7f7f7f;
	border-right: 0px solid #333333;	
	border-bottom: .6px solid #898989;
}
.BaloonText_Chart_1_1_Left_Circle {
	font-size: 18px; 
	position: absolute;
	top: -6px; left: 2.5px;
	z-index: 1000;
	margin: 0;
	padding: 0;
}

.Blog_Container {
	width: 100%;
	height: auto;
	min-height: 1200px;
	background-color: rgba(0,0,0,.0);
	margin: 0 auto;
	padding: 0;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 90px;
	display: flex; align-items: left; justify-content: top; flex-direction: column; text-align: center;
	position: relative;
	font-family: "Calibri";
	overflow: hidden;
}

.Indiv_Content {
	height: auto;
	min-height: 200px;
	width: 98%;
	margin: 0 auto;
	margin-bottom: 65px;
	padding: 0px;
	background-color: rgba(0,0,0,.0);
	border-radius: 22px;
	border: 6px solid #ef476f;
	position: relative;
	overflow: hidden;
	font-family: "Calibri";
	overflow: hidden;
}
.Blog_Header {
	width: 115%;
	height: 60px;
	margin: 0 auto;
	margin-top: -10px;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	letter-spacing: 1px;
	background-color: #e5e5e5;
	display: flex; align-items: left; justify-content: center; flex-direction: column; text-align: left;
	padding-left: 20px;
}
.Blog_Header1 {
	width: 115%;
	height: 60px;
	margin: 0 auto;
	margin-top: -10px;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	letter-spacing: 1px;
	background-color: #e5e5e5;
	align-items: left; justify-content: center; flex-direction: column; text-align: left;
	padding-left: 20px;
}
.Top_Note{
	height: auto;
	width: auto;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 1px;
	left: 5px;
	font-size: 14px;
	font-family: "Calibri";
	color: #3c3c3c;
}
.Stuff_Container {
	min-height: calc(100%-60px);
	height: auto;
	width: 100%;
	margin: 0;
	padding: 10px;
	background-color: rgba(0,0,0,.0);
}
.Blog_Date {
	height: 50px;
	width: 180px;
	margin: 0 auto;
	padding: 15px;
	margin-top: 50px;
	border-radius: 9999px;
	background-color: rgba(29, 161, 242, 0.43);
	font-size: 19px;
	font-family: "Calibri";
	color: #4c4c4c;
	display: flex; align-items: center; justify-content: center; flex-direction: column; text-align: center;
}
.Blog_Picture_Holder {
	width: 100%;
	height: 500px;
	margin: 0 auto;
	padding: 0;
	margin-top: 30px;	
	background-color: rgba(0,0,0,.0);
	position: relative;
}
.Blog_Picture {
	height: 100%;
	width: 115%;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 50%;
	 transform: translateX(-50%);
	 background-color: rgba(0,0,0,.0);
	 background: url('../Forex_Market.jpg') no-repeat;
	 background-size: cover;
}
.Blog_Picture_Covid {
	background: url('../Covid19.jpg') no-repeat;
	background-position: center;
}
.Point_Picture_Holder {
	width: 100%;
	height: 270px;
	margin: 0 auto;
	padding: 0;
	margin-top: 40px;	
	background-color: rgba(0,0,0,.0);
	position: relative;
}
.Point_Picture {
	height: 100%;
	width: 115%;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 50%;
	 transform: translateX(-50%);
	 background-color: rgba(0,0,0,.0);
}
.Blog_Pictur_Statement {
	
}
.Blog_Body, .Math_Notation {
	height: auto;
	width: 100%;
	min-height: 800px;
	margin: 0;
	padding: 0;
	margin-top: 70px;
	background-color: rgba(0,0,0,.0);
	font-family: 'PT Serif';
	font-size: 21px;
	text-align: left;
	line-height: 42px;
}
.Blog_Body_Italic {
	font-family: 'PT Serif';
	font-style: italic;
}
.Math_Notation {
	
}
.Body_Header {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	letter-spacing: 1px;
}

.Plot_GGplot {
	width: 100%;
	height: 550px;
	margin: 0;
	padding: 10px;
	margin-top: 30px;
	border: 1px solid #b2b2b2;
	position: relative;
}
.Plot_GGplot_Title, .Plot_GGplot_Title1, .Plot_GGplot_Title2 {
	position: absolute;
	top: 20px;
	width: auto;
	height: 28px;
	min-width: 20px;
	padding: 0px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: rgba(121, 75, 196,.3);
	font-family: "Calibri";
	font-size: 16px;
	transform: skewX(30deg);
	display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
}
.Plot_GGplot_Title1 {
	top: 20px;
	right: 40px;
}
.Plot_GGplot_Title2 {
	left: 90px;
}
.Div_Space{
	height: 23px;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: rgba(0,0,0,.0);
}
.Blog_Box {
	width: 99.8%;
	height: 180px;
	margin: 0 auto;
	padding: 0px;
	border: 1px solid #b2b2b2;
	display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
}
.Blog_Box1, .Blog_Box2 {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 15%;
	
        border-right: 1px solid #b2b2b2;
    background-color: rgba(0,0,0,.0);
    padding: 5px;
}
.Blog_Box1 {
		display: flex;
        align-items: center;
        flex-direction: row;
        text-align: center;
        justify-content: center;
	}
.Blog_Box2 {
		width: 84%;
		border: 0px; 
		background-color: rgba(0,0,0,.0);
		justify-content: left;
		font-family: 'PT Serif';
		padding-left: 10px;
	}
.Blog_Box11 {
	height: 60px;
	width: 60px;
	margin: 0;
	padding: 0;
	border-radius: 50%;
	font-size: 23px;
	font-family: "Calibri";
	background-color: rgba(121, 75, 196,.4);
	display: flex;
        align-items: center;
        flex-direction: row;
        text-align: center;
        justify-content: center;
}
.Blog_Footer {
	width: 100%;
	height: 600px;
	margin: 0;
	padding: 0;
	background-color: #fff;
	position: relative;
	overflow: hidden;
}
.About_Me {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 600px;
	height: 430px;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0,27,51, .75);
	z-index: 10;
	bottom: 50px;
	border-radius: 12px;
	box-shadow: -10px -10px 30px 4px rgba(0,0,0,0.1),
              10px 10px 30px 4px rgba(45,78,255,0.15);
}
.Name {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 600px;
	height: 30px;
	left: 50%;
	transform: translateX(-50%);
	top: 30px;
	color: #e5e5e5;
	font-size: 18px;
	font-family: "Calibri";
	letter-spacing: 1px;
	text-align: center;
}
.Desc {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 30px;
	left: 50%;
	transform: translateX(-50%);
	top: 80px;
	color: #e5e5e5;
	font-size: 14px;
	font-family: "Calibri";
	letter-spacing: 1px;
	text-align: left;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
}
.Mail_Me {
	height: 50px;
	width: 50%;
	position: absolute;
	margin: 0;
	padding: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0,0,0,.0);
	bottom: 70px;
	display: flex;
        align-items: center;
        flex-direction: row;
        text-align: center;
        justify-content: center;
}
.Copyright {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 600px;
	height: 30px;
	left: 50%;
	transform: translateX(-50%);
	bottom: 20px;
	color: #e5e5e5;
	font-size: 16px;
	font-family: "Calibri";
	letter-spacing: 1px;
	text-align: center;
}
.Blog_Code {
	width: 96%;
	height: auto;
	min-height: 60px;
	margin: 0 auto;
	padding: 9px;
	background-color: #1c2e4a;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	font-family: 'Fira Code', monospace;
	color: #E8EAEC;
	font-size: 16px;
	line-height: 22px;
}
.Blog_Code_Fn {
	font-weight: bold;
	color: #14CA52;
}
.Blog_Code_Def {
	font-weight: bold;
	color: #FF443D;
}
.Blog_Code_Comment {
	color: #768192;
}
.Blog_Code_Equal {
	color: #e54ab7;
}
.Blog_Code_Intend {
	margin-left: 50px;
}
.Extract_Python_Code {
	padding: 5px;
	color: #FF443D;
	font-size: 15px;
	font-family: 'Fira Code', monospace;
	border-radius: 3px;
	background-color: #e5e5e5;
	font-style: italic;
}

.Notes, .Notes1, .Notes2 {
	padding: 5px;
	padding-right: 8px;
	padding-right: 8px;
	background-color: #001233;
	border-radius: 9999px;
	color: #fff;
	font-weight: bold;
}
.Notes1 {
	background-color: #007f5f;
}
.Notes2 {
	background-color: #ff006e;
}
.Math {
	margin-left: 0px; font-size: 20px; font-family: 'Fira Sans', sans-serif;
}

.Page_Number, .Page_Number1 {
	font-family: 'Fjalla One', sans-serif;
	display: contents;
	font-size: 23px;
	margin-top: 8px;	
	color: #333333;
}
.Page_Number1 {
	font-size: 18px;
	color: #b2b2b2;
}
.Other_Span {
	font-family: 'Fjalla One', sans-serif;
	color: #999999;
}